div#layout {
  width: 1366px;
  height: 768px;
  background: #d0d6d1;
}

div#container {
  width: 1000px;
  height: 600px;
  margin: auto;
  background: #e3e6cf;
  float: left;
}

svg {
  width: 100%;
  height: 100%;
}

/* line attributes */
.line {
  stroke: red;
  fill: none;
  stroke-width: 3;
}

div#courseDiv {
  text-align: left;
  /*background: rosybrown;*/
  float: left;
  padding: 5px;
  width: 600px;
  border-right: 2px solid black;
}

div#upload {
  left: 50%;
  float: left;
  /*background-color: #ABEBFF;*/
  padding: 5px 5px 5px 15px;
}

input {
  width: 10%;
}

footer {
  background-color: antiquewhite;
  float: bottom;
}

.active {
  background-color: #4CAF50;
}

.remove {
  margin-left: 10px;
}

#file-input-redirect, #file-name-label {
  display: inline-block;
}

#img-to-text, #progress-label {
  display: inline-block;
}

th, td {
  padding: 3px;
  text-align: left;
}

#file-input-redirect, #img-to-text {
  width: 90px;
}

#progress-bar {
  display: none;
}

.d3-tip {
  line-height: 1;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}

@media (max-width: 1366px) {
  div#upload {
    display:block;
    width:100%;
    float:left;
  }
}